/*todo 让每列可以设置宽度让文本被截断显示, 而不是必须全部显示*/
:root {
    --bg-color: #f7f7f7;
    --text-color: #333333;
    --border-color: #dddddd;
    --hover-bg: #f0f0f0;
    --icon-color: #666;
    --th-bg-color: #ebebeb;
    --folder-icon-color: #e6c12e;
    --file-icon-color: #b0b0b0;
    --new-color: #007c01;
    --removed-color: #dfa5a5;
    --changed-color: #1cb0e6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1e1e;
        --text-color: #e0e0e0;
        --border-color: #444444;
        --hover-bg: #2d2d2d;
        --icon-color: #888;
        --th-bg-color: #333333;
        --folder-icon-color: #f1c40f;
        --file-icon-color: #c4c4c4;
        --new-color: #2cfb82;
        --removed-color: #ae4747;
        --changed-color: #4ac2ff;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.table-container {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    overflow: auto;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    position: relative;
    background-color: var(--th-bg-color);
}

.sort-order-icon {
    margin-left: 5px;
}

td {
    padding: 0.3rem 0.5rem;
    text-align: right;
    border-bottom: 1px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

td:first-of-type { /* 存放 Path 的 td */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

td:nth-of-type(2) {
    text-align: center;
}

.resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    background: transparent;
}

tr:hover {
    background-color: var(--hover-bg);
}

.indent {
    display: inline-block;
}

.delta-positive {
    color: #31c162;
}

.delta-negative {
    color: #e74c3c;
}

.path {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.path .diff-node-expand-toggle {
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: -0.3rem;
    top: 50%;
    transform: translate(-100%, -50%);
}

.path .diff-node-icon-file, .path .diff-node-icon-folder, .path .diff-node-icon-file-group {
    margin-right: 6px;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
}

.diff-node-icon-file {
    mask: url("assets/file.svg") no-repeat center / contain;
    background-color: var(--file-icon-color);
}

.diff-node-icon-folder {
    mask: url("assets/folder.svg") no-repeat center / contain;
    background-color: var(--folder-icon-color);
}

.diff-node-icon-file-group {
    mask: url("assets/file-group.svg") no-repeat center / contain;
    background-color: var(--file-icon-color);
}

.removed {
    color: var(--removed-color);
}

.new {
    color: var(--new-color);
}

.changed {
    color: var(--changed-color);
}
